body {
    /* padding: 0px 10px; */
    /* background-color: #f7cac9; */
    background-color: cornsilk;
    /* background-color: rgb(255, 255, 166) */
    /* background-color: #fdfd9a; */
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

.card {
    margin: 20px 0px;
}

.jumbotron {
    height: 120px;
    text-align: center;
    /* background-color: #034f84; */
    /* background-color: rgb(31, 128, 255); */
    background-color: #5d65c0;
}
/* .card-link {
    color: black;
}
.card-link:hover {
    color: blue;
} */

.favorable {
    background-color: lightgreen;
    color: white;
}
  
.moderate {
    background-color: yellow;
    color: white;
}

.high {
    background-color: orange;
    color: white;
}
  
.severe {
    background-color: red;
    color: white;
}

.citydate {
    font-size: 25px;
    font-weight: 400;
}

.forecast-box {
    display: inline-block;
    width: 160px;
    height: 200px;
    border: 1px solid black;
    border-radius: 7%;
    /* background-color: #92a8d1; */
    background-color: skyblue; 
    /* background-color: powderblue; */
    margin-inline-end: 10px;
    padding: 10px;
/*    
    border-right: 1px solid black;
    border-bottom: 1px solid black;
*/
}

/* #search-history {
    width: 300px;
    height: 700px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
} */

#searchBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
#searchBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }